.mainContact {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
}

.contactTitle {
  text-align: center;
  margin-top: 50px;
}

.contactTitle h1 {
  font-size: 3vw;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
}

form {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 80px auto 10px auto;
}

input {
  padding: 8px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgba(32, 40, 51, 0.9);
  border-radius: 4px;
  font-size: large;
}

textarea {
  resize: none;
  height: 150px;
  margin: 8px 0;
  font-size: large;
  padding: 8px 15px;
  box-sizing: border-box;
  border: 2px solid rgba(32, 40, 51, 0.9);
  border-radius: 4px;
}

button {
  width: 33%;
  margin: 20px auto 0px auto;
}

button:hover {
  background: #262626;
  color: #fff;
}

.socialMedia {
  width: 30%;
  display: flex;
  margin: 0px auto 0px auto;
  justify-content: space-evenly;
}

.socialMedia a {
  color: black;
  font-size: 40px;
}

.successContainer {
  margin-bottom: 80px;
}

.success {
  text-align: center;
  margin: 15px;
  font-size: xx-large;
}

@media (max-width: 500px) {
  form {
    width: 80%;
    margin: 20px auto 10px auto;
  }

  button {
    width: 50%;
  }

  .contactTitle {
    margin-top: 10px;
  }

  .contactTitle h1 {
    font-size: 11vw;
  }

  .success {
    font-size: larger;
  }

  .successContainer {
    margin-bottom: 0px;
  }

  .socialMedia {
    width: 80%;
  }
}