.mainContact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.nameInput {
  width: 50%;
  height: 20px
}

.emailInput {
  width: 50%;
  height: 20px
}

.messageInput {
  height: 150px;
}

.form button {
  margin-top: 25px;
  width: 25%;
  margin: 25px auto 25px auto;
}

@media (max-width: 500px) {
  .form {
    width: 50%;
  }
}