.mainContact {
  background-color: #45a29f;
  height: 800px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
}

.contactTitle {
  text-align: center;
}

.contactTitle h1 {
  font-size: 50px;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  width: 33%;
  margin: 20px auto 0px auto;
}

button:hover {
  background: #262626;
  color: #fff;
}

.socialMedia {
  width: 300px;
  display: flex;
  margin: 0px auto 0px auto;
  justify-content: space-evenly;
}

.socialMedia a {
  color: black;
  font-size: 40px;
}
