.homeAbout {
  display: flex;
  flex-direction: column;
  background-image: url("../pictures/pic7.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0px 0px;
}

.homeAbout img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.7);
}

.picture {
  width: 25%;
}

.about {
  width: 50%;
  padding: 15px;
  text-align: right;
  background: rgba(32, 40, 51, 0.9);
  border-radius: 5px;
  margin: 5% 5% 5% auto;
  color: #c5c6c8;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.7);
}

.about h1 {
  font-size: 2vw;
}

.about p {
  font-size: 1vw;
}

.me {
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

.name {
  color: #202833;
  margin-left: 15px;
}

.name h1 {
  font-size: 3vw;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
}

.name h4 {
  font-size: 1.5vw;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
}

.homeSkills {
  background-color: #202833;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 25px;
}

.homeSkills h1 {
  color: #c5c6c8;
  font-size: 2.5vw;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
  margin-left: 2.5%;
}

.skillsTitle {
  padding: 3% 0px 0px 0px;
  color: #c5c6c8;
}

.skillsTitle p {
  font-size: 1vw;
  margin-left: 2.5%;
  width: 60%;
}

.mainSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.skillsBox {
  margin-top: 20px;
  width: 17%;
  border-radius: 20%;
  background: rgba(197, 198, 200, 0.5);
  text-align: center;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.7);
  font-size: 1vw;
}

.skillsBox h2 {
  margin-bottom: 10px;
}

.reactLogo {
  width: 62.5%;
  margin-top: 15px;
}

.javascriptLogo {
  width: 62.5%;
  margin-top: 15px;
}

.htmlLogo {
  width: 62.5%;
  margin-top: 15px;
}

.cssLogo {
  width: 55%;
  margin-top: 15px;
}

.nodeLogo {
  width: 100%;
  margin-top: 15px;
}

.mongoLogo {
  width: 62.5%;
  margin-top: 15px;
}

.exLogo {
  width: 62.5%;
  margin-top: 15px;
}

.firebaseLogo {
  width: 62.5%;
  margin-top: 15px;
}

.pythonLogo {
  width: 62.5%;
  margin-top: 15px;
}

.unityLogo {
  width: 62.5%;
  margin-top: 15px;
}

footer {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .reactLogo {
    animation: spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .homeAbout {
    background-position: 0% 0%;
  }

  .picture {
    width: 35%;
  }

  .about {
    text-align: left;
    border-radius: 5px;
    margin: 50px auto 50px auto;
  }

  .about h1 {
    text-align: center;
  }

  .about h1 {
    font-size: 3vw;
  }

  .about p {
    font-size: 1.5vw;
  }

  .me {
    margin-top: 50px;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
  }

  .name {
    color: #202833;
    margin: auto;
  }

  .name h1 {
    font-size: 4vw;
    text-align: center;
  }

  .name h4 {
    text-align: center;
    font-size: 2vw;
  }

  .homeSkills {
    padding-bottom: 25px;
  }

  .homeSkills h1 {
    font-size: 3vw;
  }

  .skillsTitle {
    padding: 3% 0px 0px 0px;
  }

  .skillsTitle p {
    font-size: 2vw;
    width: 75%;
  }

  .skillsBox {
    font-size: 1.2vw;
  }

  .skillsBox h2 {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .homeAbout {
    background-position: 0% 0%;
  }

  .picture {
    width: 45%;
  }

  .about {
    width: 75%;
    border-radius: 5px;
    margin: 50px auto 50px auto;
  }

  .about h1 {
    font-size: 4vw;
  }

  .about p {
    font-size: 2.2vw;
  }

  .name h1 {
    font-size: 5vw;
  }

  .name h4 {
    font-size: 3vw;
  }
  
  .skillsTitle {
    padding: 3% 0px 0px 0px;
  }

  .skillsTitle h1 {
    font-size: 4vw;
  }

  .skillsTitle p {
    font-size: 2.5vw;
    width: 80%;
  }

  .skillsBox {
    font-size: 1.5vw;
  }

  .skillsBox h2 {
    margin-bottom: 5px;
  }

  .reactLogo {
    margin-top: 10px;
  }
  
  .javascriptLogo {
    margin-top: 10px;
  }
  
  .htmlLogo {
    margin-top: 10px;
  }
  
  .cssLogo {
    margin-top: 10px;
  }
  
  .nodeLogo {
    margin-top: 10px;
  }
  
  .mongoLogo {
    margin-top: 10px;
  }
  
  .exLogo {
    margin-top: 10px;
  }
  
  .firebaseLogo {
    margin-top: 10px;
  }
  
  .pythonLogo {
    margin-top: 10px;
  }
  
  .unityLogo {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .homeAbout {
    background-position: 0% 0%;
  }

  .me {
    margin-top: 30px;
  }

  .picture {
    width: 50%;
  }

  .about {
    width: 80%;
    margin: 30px auto 40px auto;
  }

  .about h1 {
    font-size: 5vw;
  }

  .about p {
    font-size: 2.7vw;
  }

  .name h1 {
    font-size: 6vw;
  }

  .name h4 {
    font-size: 4vw;
  }

  .skillsTitle h1 {
    font-size: 5vw;
    margin-left: 15px;
  }

  .skillsTitle p {
    font-size: 2.7vw;
    width: 80%;
    margin-left: 15px;
    margin-bottom: 0px;
  }

  .skillsBox {
    font-size: 2vw;
    width: 28%;
  }
}