.mainPortfolio {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
}

.portfolioPageTitle {
  font-size: 3vw;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.urgentProject {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.urgentProject h1 {
  text-decoration: underline;
  color: black;
}

.urgentProject h4 {
  text-align: left;
}

a:visited {
  color: black;
}

a {
  color: black;
}

.urgentProject h4 {
  margin-bottom: 20px;
}

.urgent {
  width: 50%;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.7);
}

.urgentImg {
  margin: auto;
}

@media (max-width: 500px) {
  .portfolioPageTitle {
    font-size: 6vw;
  }

  .urgent {
    width: 100%;
    margin-top: 10px;
  }

  .urgentProject h1 {
    font-size: 5vw;
  }

  .urgentProject h4 {
    font-size: 3vw;
  }

  .urgentProject h3 {
    font-size: 3.8vw;
  }

  li {
    font-size: 3vw;
  }

  .github {
    font-size: 3vw;
  }
}
