.nav {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
}

.navLinks h3 {
  margin: 0px 5px 0px 5px;
  color: #45a29f;
  font-family: 'Open Sans', sans-serif;
}

.navLogo h1 {
  color: #45a29f;
  font-family: 'Poiret One', cursive;
  /* font-family: 'Caveat', cursive; */
}

.navLinks a {
  text-decoration: none;
  color: black;
}

@media (max-width: 700px) {
  .navLogo h1 {
    font-size: larger;
  }
}

@media (max-width: 600px) {
  .nav {
    justify-content: center;
  }
  .navLogo {
    display: none;
  }
}

@media (max-width: 450px) {
  .navLinks h3 {
    font-size: small;
  }
}
